<div class="container">
	<div class="col-sm-10 col-md-12 main">
		<h2>Manage Collaborators</h2>
		<div ng-if="model.errMessage" class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{model.errMessage}}
		</div>
		<table class="table table-striped">
			<thead>
				<th>
					Username
				</th>
				<th>
					Action
				</th>
				<tr>
					<td>
						<input ng-model="model.newUsername" type="text" placeholder="Username" class="form-control">
					</td>
					<td>
						<button ng-click="model.addCollaborator(model.newUsername)" type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
				</tr>
			</thead>
			<tr ng-repeat="name in model.trip.collaborators">
				<td>{{name}}</td>
				<td>
					<a ng-click="model.deleteCollaborator($index)" class="btn btn-default">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>