<h1>User Name</h1>

<h2>My Trips</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>City</th>
			<th>No. of Places</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Seattle</td>
			<td>5</td>
			<td class="no-wrap">
				<button ng-click= "" class="btn btn-default">
					<span class="glyphicon glyphicon-edit"></span>
				</button>
				<button ng-click="deleteTrip()" type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-share"></span>
				</button>
				<button ng-click="deleteTrip()" type="button" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>
		<tr>
			<td>Boston</td>
			<td>8</td>
			<td class="no-wrap">
				<button ng-click= "" class="btn btn-default">
					<span class="glyphicon glyphicon-edit"></span>
				</button>
				<button ng-click="deleteTrip()" type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-share"></span>
				</button>
				<button ng-click="deleteTrip()" type="button" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>