<h1>Trips for Seattle</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>City</th>
			<th>No. of Days</th>
			<th>Created By</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="trip in model.trips">
			<td>
				<a href="#/trip-create/{{trip._id}}">{{trip.city}}</a>
				</td>
			<td>{{trip.days.length}}</td>
			<td>Username</td>
			<td class="no-wrap">
				<button ng-click= "" class="btn btn-default">
					Use this trip
				</button>
			</td>
		</tr>
	</tbody>
</table>